<main class="control" role="main">
    <!-- Resources -->
    <div class="container">
        <h2>Item do receptor principal do evento</h2>
        <div class="card-container">
            <label for="crmLeadId" class="form-label">CRM ID (LEADCANDIA):</label>
            <input type="text" class="form-control" name="crmLeadId" id="crmLeadId">
        </div>
        <div class="card-container">
            <label for="leadPriority" class="form-label">Prioridade da lead:</label>
            <input type="text" class="form-control" name="leadPriority" id="leadPriority">
        </div>
        <div class="card-container">
            <label for="state" class="form-label">Estado:</label>
            <input type="text" class="form-control" name="state" id="state">
        </div>
        <div class="card-container">
            <label for="leadType" class="form-label">Nome da ContactList na Genesys:</label>
            <input type="text" class="form-control" name="leadType" id="leadType" required>
        </div>
        <div class="card-container">
            <label for="campaingCode" class="form-label">Identificador/código da campanha:</label>
            <input type="text" class="form-control" name="campaingCode" id="campaingCode">
        </div>
        <div class="card-container">
            <label for="expirationDate" class="form-label">Dias de validade:</label>
            <input type="number" class="form-control" name="expirationDate" id="expirationDate">
        </div>
        <div class="card-container">
            <label for="campaignDescription" class="form-label">"Nome campanha" para o
                script/report/log:</label>
            <input type="text" class="form-control" name="campaignDescription" id="campaignDescription">
        </div>
        <div class="card-container">
            <label for="comments" class="form-label">Observações:</label>
            <input type="text" class="form-control" name="comments" id="comments">
        </div>
    </div>

    <!-- Resources -->
    <div class="container">

        <h2>Dados de cliente</h2>
        <div class="card-container">
            <label for="clientNumber" class="form-label">Número do cliente:</label>
            <input type="text" class="form-control" name="clientNumber" id="clientNumber">
        </div>
        <div class="card-container">
            <label for="clientName" class="form-label">Nome do cliente:</label>
            <input type="text" class="form-control" name="clientName" id="clientName">
        </div>
        <div class="card-container">
            <label for="clientPhone" class="form-label">Telefone do cliente:</label>
            <input type="text" class="form-control" name="clientPhone" id="clientPhone">
        </div>
        <div class="card-container">
            <label for="hasDigitalAccess" class="form-label">Tem acesso digital:</label>
            <input type="text" class="form-control" name="hasDigitalAccess" id="hasDigitalAccess">
        </div>
        <div class="card-container">
            <label for="clientBirthdate" class="form-label">Aniversário do cliente:</label>
            <input type="text" class="form-control" name="clientBirthdate" id="clientBirthdate">
        </div>
        <div class="card-container">
            <label for="clientNIF" class="form-label">Cliente NIF:</label>
            <input type="text" class="form-control" name="clientNIF" id="clientNIF">
        </div>
        <div class="card-container">
            <label for="clientEmail" class="form-label">Client Email:</label>
            <input type="text" class="form-control" name="clientEmail" id="clientEmail">
        </div>
    </div>

    <!-- Resources -->
    <div class="container">
        <h2>Dados de leads</h2>
        <div class="card-container">
            <label for="leadName" class="form-label">Nome do lead:</label>
            <input type="text" class="form-control" name="leadName" id="leadName">
        </div>
        <div class="card-container">
            <label for="simulationAmount" class="form-label">Quantidade de simulação:</label>
            <input type="text" class="form-control" name="simulationAmount" id="simulationAmount">
        </div>
        <div class="card-container">
            <label for="triad" class="form-label">Tríade:</label>
            <input type="text" class="form-control" name="triad" id="triad">
        </div>
        <div class="card-container">
            <label for="isDomiciledSalary" class="form-label">É Domiciliado Salário:</label>
            <input type="text" class="form-control" name="isDomiciledSalary" id="isDomiciledSalary">
        </div>
        <div class="card-container">
            <label for="product" class="form-label">Produtos:</label>
            <input type="text" class="form-control" name="product" id="product">
        </div>
        <div class="card-container">
            <label for="incidences" class="form-label">Incidências:</label>
            <input type="text" class="form-control" name="incidences" id="incidences">
        </div>
        <div class="card-container">
            <label for="scoring" class="form-label">Pontuação:</label>
            <input type="text" class="form-control" name="scoring" id="scoring">
        </div>
        <div class="card-container">
            <label for="clientPartenon" class="form-label">Cliente Partenon:</label>
            <input type="text" class="form-control" name="clientPartenon" id="clientPartenon">
        </div>
        <div class="card-container">
            <label for="nbo1" class="form-label">nbo1:</label>
            <input type="text" class="form-control" name="nbo1" id="nbo1">
        </div>
        <div class="card-container">
            <label for="nbo2" class="form-label">nbo2:</label>
            <input type="text" class="form-control" name="nbo2" id="nbo2">
        </div>
        <div class="card-container">
            <label for="nbo3" class="form-label">nbo3:</label>
            <input type="text" class="form-control" name="nbo3" id="nbo3">
        </div>
        <div class="card-container">
            <label for="nbo4" class="form-label">nbo4:</label>
            <input type="text" class="form-control" name="nbo4" id="nbo4">
        </div>
        <div class="card-container">
            <label for="nbo5" class="form-label">nbo5:</label>
            <input type="text" class="form-control" name="nbo5" id="nbo5">
        </div>
        <div class="card-container">
            <label for="clientBranch" class="form-label">Filial do cliente:</label>
            <input type="text" class="form-control" name="clientBranch" id="clientBranch">
        </div>
        <div class="card-container">
            <label for="clientManager" class="form-label">Gerente de clientes:</label>
            <input type="text" class="form-control" name="clientManager" id="clientManager">
        </div>
        <div class="card-container">
            <label for="leadCan" class="form-label">lead Can:</label>
            <input type="text" class="form-control" name="leadCan" id="leadCan">
        </div>
        <div class="card-container">
            <label for="productFamily" class="form-label">Produto familiar:</label>
            <input type="text" class="form-control" name="productFamily" id="productFamily">
        </div>
        <div class="card-container">
            <label for="engineLeadExpirationDate" class="form-label">engineLeadExpirationDate:</label>
            <input type="text" class="form-control" name="engineLeadExpirationDate" id="engineLeadExpirationDate">
        </div>
        <div class="card-container">
            <label for="operationDate" class="form-label">Data da operação:</label>
            <input type="text" class="form-control" name="operationDate" id="operationDate">
        </div>
        <div class="card-container">
            <label for="term" class="form-label">Prazo:</label>
            <input type="text" class="form-control" name="term" id="term">
        </div>
        <div class="card-container">
            <label for="hasLifeInsurance" class="form-label">Tem seguro de vida:</label>
            <input type="text" class="form-control" name="hasLifeInsurance" id="hasLifeInsurance">
        </div>
        <div class="card-container">
            <label for="hasPPInsurance" class="form-label">Tem seguro PP:</label>
            <input type="text" class="form-control" name="hasPPInsurance" id="hasPPInsurance">
        </div>
        <div class="card-container">
            <label for="hasAggregatedCharges" class="form-label">Tem encargos agregados:</label>
            <input type="text" class="form-control" name="hasAggregatedCharges" id="hasAggregatedCharges">
        </div>
        <div class="card-container">
            <label for="processId" class="form-label">ID do processo:</label>
            <input type="text" class="form-control" name="processId" id="processId">
        </div>
        <div class="card-container">
            <label for="field1" class="form-label">Campo 1:</label>
            <input type="text" class="form-control" name="field1" id="field1">
        </div>
        <div class="card-container">
            <label for="field2" class="form-label">Campo 2:</label>
            <input type="text" class="form-control" name="field2" id="field2">
        </div>
        <div class="card-container">
            <label for="field3" class="form-label">Campo 3:</label>
            <input type="text" class="form-control" name="field3" id="field3">
        </div>
        <div class="card-container">
            <label for="field4" class="form-label">Campo 4:</label>
            <input type="text" class="form-control" name="field4" id="field4">
        </div>
        <div class="card-container">
            <label for="field5" class="form-label">Campo 5:</label>
            <input type="text" class="form-control" name="field5" id="field5">
        </div>
        <div class="card-container">
            <label for="field6" class="form-label">Campo 6:</label>
            <input type="text" class="form-control" name="field6" id="field6">
        </div>
        <div class="card-container">
            <label for="field7" class="form-label">Campo 7:</label>
            <input type="text" class="form-control" name="field7" id="field7">
        </div>
        <div class="card-container">
            <label for="field8" class="form-label">Campo 8:</label>
            <input type="text" class="form-control" name="field8" id="field8">
        </div>
        <div class="card-container">
            <label for="field9" class="form-label">Campo 9:</label>
            <input type="text" class="form-control" name="field9" id="field9">
        </div>
        <div class="card-container">
            <label for="field10" class="form-label">Campo 10:</label>
            <input type="text" class="form-control" name="field10" id="field10">
        </div>
    </div>
</main>>